.container {
	background-color: #2828a5;
	color: #ec965f;
	margin: auto;
	margin-top: 100px;
	height: 300px;
	width: 300px;
	text-align: center;
	padding: 10px;
}

.signTitle {
	margin-bottom: 170px;
}

.loginBtn {
	background-color: white;
	font-size: 20px;
	width: 100%;
	padding: 5px;
}