.loginContainer {
	height: 100vh;
	width: 100vw;
	background-color: black;
	padding-top: 20px;
}

.authBox {
	background-color: white;
	margin: auto;
    margin-top: 150px;
    max-width: 450px;
    height: 300px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center
}

.signTitle {
	/*margin-bottom: 170px;*/
}

.loginBtn {
	background-color: white;
	font-size: 20px;
	width: 300px;
	padding: 5px;
}

