.proContainer {
  padding: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pageTilte {
  text-align: center;
}

.projectTeam{
  display: flex;
  flex-wrap: wrap;
}

.userThumpnail{
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.collabList{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.projectJoin {
  width: 300px;
  height: 35px;
  margin: auto;
  margin-top: 20px;
  background-color: #2828a5;
  color: #ec965f;
  display: block;
  font-size: 29px;
  border: 1px solid #7d7d7d;
}

.projectJoin:hover {
  box-shadow: 0px 0px 3px 1px #7d7d7d;
}

.projectJoin:active {
  background-color: #ec965f;
  color: #2828a5;
}