a {
	color: #2828a5;
	text-decoration: none;

}

a:visited {
	color: #2828a5;
	}

a:hover {
	text-decoration: underline;
}


/*-----------*/

/*-----------*/
.userprojectlist {
  margin: 5px;
  list-style: none;
  padding-left: 0;
}

.mainContainer {
	margin: auto;
	max-width: 1000px;
}