body {
	font-family: 'Arimo', sans-serif;
	color: #383232;
}

a {
	color: #2828a5;
	text-decoration: none;

}

a:visited {
	color: #2828a5;
	}

a:hover {
	text-decoration: underline;
}


/*-----------*/

/*-----------*/
.userprojectlist {
  margin: 5px;
  list-style: none;
  padding-left: 0;
}

.mainContainer {
	margin: auto;
	max-width: 1000px;
}

/*************/

.btn {
	color: #2828a5;
	background-color: #ec965f;
	outline: none;
    border: none;
    box-shadow: -5px -5px;
    -webkit-transition: .2s;
    transition: .2s;
}

.btn:hover {
	color: #ec965f;
	background-color: #2828a5;
	box-shadow: 5px 5px;
}

.btn:active {
	box-shadow: 1px 1px;
}