.projectSnapShot {
    border: 1px solid #7d7d7d;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
      width: 100%;
}

.projectSnapShot:hover {
    box-shadow: 0px 0px 3px 1px #7d7d7d;
}


.projectSnapShotTitle {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.projectSnapShotDec {
    width: 100%;
}

.projectSnapShotRole {
    width: 50%;
    font-weight: bold;
}

.projectSnapShotCollabs {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

@media only screen and (min-width: 500px) {
    .projectSnapShot {
        width: 220px;
        height: 220px;
        margin: auto;
        margin-bottom: 10px;
    }
}